<!-- <div class="card">
    <img [src]="product.thumbnail" alt="{{ product.title }}" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text">Price: {{ product.price | currency : "EGP " }}</p>
      <p class="card-text">Category: {{ product.category }}</p>
      <p class="card-text">Stock: {{ product.stock }}</p>
      <p class="card-text">Rating: {{ product.rating | rating }}</p>
      <button
        type="button"
        class="btn btn-primary"
        (click)="addToCart()"
        [disabled]="product.stock === 0"
      >
        {{ product.stock > 0 ? 'Add to Cart' : 'Out of Stock' }}
      </button>
    </div>
  </div> -->